# docker-compose.yml
version: "3.8"

services:
  oracle-db:
    image: container-registry.oracle.com/database/express:latest
    container_name: oracle-db-pry2205
    ports:
      - "1521:1521"
    environment:
      - ORACLE_PWD=contrasena
    volumes:
      - oracle_data:/opt/oracle/oradata

volumes:
  oracle_data:
